extends layout

block content
	.pinBox.pinWell.padding-10
		h1.page-header.font-28.margin-top-10 เคลมสินค้า
		#form-loading.row.hidden
			.col-xs-12.col-sm-12.col-md-12.col-lg-12.margin-top-10
				.alert.alert-info.text-center.margin-bottom-0
					.progress.margin-bottom-5
					#progress.progress-bar.progress-bar-striped.active(role='progressbar', aria-valuenow='0', aria-valuemin='0', aria-valuemax='100', style='width: 0%')
						span.sr-only
					i.fa.fa-cog.fa-spin
						|  กำลังส่งข้อมูลเข้าระบบ กรุณารอสักครู่ค่ะ
		#form-success.row.hidden
			.col-xs-12.col-sm-12.col-md-12.col-lg-12.margin-top-10
				.alert.alert-info.text-center.margin-bottom-0
					| ขอบคุณสำหรับข้อมูล จะมีเจ้าหน้าที่พิจารณา และติดต่อท่านกลับไปค่ะ
		.col-xs-12.col-sm-6.col-md-6.col-lg-6
			#form-input.row.margin-bottom-15
				.col-xs-12.col-sm-12.col-md-12.col-lg-12.margin-bottom-15
					form
						.form-group.col-sm-6.text-danger
							input#firstname.form-control.required(type='text', placeholder='Barcode')
							span#btn-register.btn.btn-warning ตรวจสอบ
		.col-xs-12.col-sm-6.col-md-6.col-lg-6
			strong.margin-top-15 เงื่อนไขการรับประกันและการเคลมสินค้า
			ul
				li
					| 1. ทางบริษัทรับประกันผลิตภัณฑ์ REMAX เฉพาะที่ซื้อภายในประเทศไทยกับทางบริษัทเท่านั้น โดยมีกำหนดระยะเวลาประกันตามหมวดหมู่สินค้า ดังต่อไปนี้
					ul
						li POWERBANK, CABLE, ADAPTER, SMALL TALK, BLUETOOTH, SPEAKER รับประกัน 1 ปี 
						li FILM, BAG รับประกันความเสียหายเปลี่ยนใหม่ภายใน 7 วัน (ประกัน 0 วัน)
				li
					| 2. ลูกค้าต้องนำสินค้าที่มีหลักฐานดังนี้ void sticker บริษัท หรือกล่องสินค้าที่มีสติกเกอร์บาร์โคดของบริษัท (เลขประจำตัวสินค้า Serial No) แสดงต่อเจ้าหน้าที่ทุกครั้ง ที่นำสินค้าส่งเคลม หากไม่มีหลักฐานดังกล่าวไม่รับเคลมสินค้า
				li
					| 3. การรับประกันจะรับประกันความเสียหายของสินค้าภายใต้การใช้งานที่ถูกวิธีและความเสียหายที่เกิดจากความผิดพลาดในการผลิตเท่านั้น
				li
					| 4. ไม่รับประกันสินค้าที่ได้รับความเสียหายจากอุบัติเหตุ การใช้งานผิดวิธี สินค้าที่มีการเก็บรักษาที่ไม่ถูกต้อง อาทิ มีคราบน้ำ,รอยคราบสกปรก , รอยสนิม, รอยความชื้น, รอยสารเคมี รวมถึงสินค้าที่ส่งเคลมต้องอยู่ในสภาพดี หากมีสภาพ ผิดปกติไปจากเดิมทางรูปทรงได้แก่ แตก, port USB หัก, บิ่น ,งอ , ยุบ, เบี้ยว , ร้าว , ทะลุ ,ขาด,มีบางส่วนขาดหายไป หรือมีการแกะ ดัดแปลงแก้ไข ขอสงวนสิทธิ์ไม่รับเคลมสินค้า
				li
					| 5. ทางบริษัทขอสงวนสิทธิ์ในการเปลี่ยนสินค้ารุ่นที่มูลค่าเท่ากันให้ลูกค้า กรณีสินค้าที่ลูกค้าส่งเคลมหมดรุ่นหรือยกเลิกจำหน่าย
				li
					b ติดต่อ
					|  ฝ่ายเคลมสินค้า Remax โทร 081- 828-8833 / 02-1567199
				li
					b email:
					|  service@remaxthailand.co.th
			.row
				.col-xs-12.col-sm-12.col-md-12.col-lg-12.margin-top-10
					img.img-responsive.no-radius(src='https://lh3.googleusercontent.com/dEuJl53gqaJ5_uDMtz10aPEeqnPPccMnvq9mlI26OYg=w1500-no')