extends layout

block content
	body.login-page
		.login-box.margin-top-0.margin-bottom-0
			.login-logo
				a(href='../../index2.html')
					b PowerDD
					| Backend
			.login-box-body
				p.login-box-msg เข้าสู่ระบบ
				form
					.form-group.has-feedback
						input.form-control(type='email', placeholder='Email')
						span.glyphicon.glyphicon-envelope.form-control-feedback     
					.form-group.has-feedback
						input.form-control(type='password', placeholder='Password')
						span.glyphicon.glyphicon-lock.form-control-feedback
					.row
						.col-xs-8
							.checkbox
								label
									input(type='checkbox')
									|  คงอยู่ในระบบ
						.col-xs-4
							span.btn.btn-primary.btn-block ลงชื่อเข้าใช้

				.social-auth-links.text-center
					p - OR -
						a.btn.btn-block.btn-social.btn-facebook.btn-flat(href='#')
							i.fa.fa-facebook
							|  เข้าระบบโดยใช้ Facebook
							
						a.btn.btn-block.btn-social.btn-google-plus.btn-flat(href='#')
							i.fa.fa-google-plus
							|  เข้าระบบโดยใช้ Google+
							
					a(href='#') I ลืมรหัสผ่าน
					br
					a.text-center(href='register.html') สมัครสมาชิกใหม่
