extends layout

block content
	body.login-page
		.login-box.margin-top-0.margin-bottom-0
			.login-logo.margin-bottom-5
				b PowerDD
				|  Backend
			.login-box-body
				p.login-box-msg เข้าสู่ระบบ
				form
					.form-group.has-feedback
						input.form-control(type='email', placeholder='ชื่อผู้ใช้ / เบอร์โทรศัพท์ / อีเมล')
						span.glyphicon.glyphicon-envelope.form-control-feedback     
					.form-group.has-feedback
						input.form-control(type='password', placeholder='รหัสผ่าน')
						span.glyphicon.glyphicon-lock.form-control-feedback
					.row
						.col-xs-7
							.checkbox
								label
									input(type='checkbox')
									|  คงอยู่ในระบบ
						.col-xs-5
							span.btn.btn-primary.btn-block ลงชื่อเข้าใช้

				.social-auth-links.text-center
					p - หรือ -
					a.btn.btn-block.btn-social.btn-facebook.btn-flat(href='#')
						i.fa.fa-facebook
						|  เข้าระบบโดยใช้ Facebook
						
					/*a.btn.btn-block.btn-social.btn-google-plus.btn-flat(href='#')
						i.fa.fa-google-plus
						|  เข้าระบบโดยใช้ Google+
					p
					a(href='#') ลืมรหัสผ่าน
					|  |  
					a.text-center(href='register.html') สมัครสมาชิกใหม่*/
