extends layout

block content
	body.login-page
		.login-box.margin-top-0.margin-bottom-0
			.login-logo.margin-bottom-5
				b PowerDD
				|  Backend
			.login-box-body
				p.login-box-msg เข้าสู่ระบบ
				form
					.form-group.has-feedback
						input#txt-username.form-control(type='email', placeholder='ชื่อผู้ใช้ / เบอร์โทรศัพท์ / อีเมล')
						span.glyphicon.glyphicon-user.form-control-feedback     
					.form-group.has-feedback
						input#txt-password.form-control(type='password', placeholder='รหัสผ่าน')
						span.glyphicon.glyphicon-lock.form-control-feedback
					.row
						.col-xs-7
							.checkbox
								label
									input(type='checkbox')
									|  คงอยู่ในระบบ
						.col-xs-5
							span#btn-login.btn.btn-primary.btn-block.btn-flat ลงชื่อเข้าใช้

				.social-auth-links.text-center
					p - หรือ -
					a.btn.btn-block.btn-social.btn-facebook.btn-flat(href='#')
						i.fa.fa-facebook
						|  เข้าระบบโดยใช้บัญชี Facebook

	
		script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
		script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
