extends layout

block content
	.row
		.col-md-4
			.box.box-primary.direct-chat.direct-chat-primary
				.box-header.with-border
					h3.box-title #{__('Expiration Time')}
				.box-body
					.col-sm-12

						form.form-horizontal
							ระยะเวลาการจองสินค้าในรถเข็น
							.form-group
								label.col-sm-2.control-label(for='inputEmail3') เวลา 
								.col-sm-4
									input#inputEmail3.form-control(type='email', placeholder='Email')
								.col-sm-4
									select
										option ชั่วโมง
										option วัน
								.col-sm-2
									span.btn.btn-default  Save

						table
							tr
								td  ระยะเวลาการจองสินค้าในรถเข็น
							tr
								td  ระยะเวลาการรอชำระเงิน หลังจากสั่งซื้อแล้ว

						.input-group
							.input-group-btn
								button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
									| Action 
									span.caret
								ul.dropdown-menu
									li
										a(href='#') Action
									li
										a(href='#') Another action
								input.form-control(type='text')