extends layout

block content
	.row
		.col-md-4
			.box.box-primary
				.box-header.with-border
					h3.box-title 
						i.fa.fa-clock-o
						|  #{__('Expiration Time')}
				.box-body
					form(role="form")

						.form-group
							label เวลาหมดอายุของรถเข็น
							.input-group
								input.form-control(type='text')
								.input-group-btn
									button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
										| ชั่วโมง 
										span.fa.fa-caret-down
									ul.dropdown-menu
										li.active
											a(href='#') ชั่วโมง
										li
											a(href='#') วัน

						.form-group
							label เวลาหมดอายุของใบสั่งจอง
							.input-group
								input.form-control(type='text')
								.input-group-btn
									button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
										| ชั่วโมง 
										span.fa.fa-caret-down
									ul.dropdown-menu
										li.active
											a(href='#') ชั่วโมง
										li
											a(href='#') วัน

						.form-group
							label เวลาหมดอายุของการเข้าระบบ (ปกติ)
							.input-group
								input.form-control(type='text')
								.input-group-btn
									button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
										| ชั่วโมง 
										span.fa.fa-caret-down
									ul.dropdown-menu
										li.active
											a(href='#') ชั่วโมง
										li
											a(href='#') วัน

						.form-group
							label เวลาหมดอายุของการเข้าระบบ (คงอยู่ใระบบ)
							.input-group
								input.form-control(type='text')
								.input-group-btn
									button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
										| ชั่วโมง 
										span.fa.fa-caret-down
									ul.dropdown-menu
										li.active
											a(href='#') ชั่วโมง
										li
											a(href='#') วัน

				.box-footer
					span.btn.btn-primary.pull-right
						i.fa.fa-save
						|  บันทึกข้อมูล